@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap');

:root {
  --grey: #efefef;
  --text: #2d3635;
  --blue: #2bbcb0;
  --yellow: #efc443;
  --orange: #e47723;
  --radius: 10px;
}


body {
  font-family: 'Nunito', sans-serif;
  color: var(--text);
  font-size: 1em;
  user-select: none;
  transition: all 0.2s linear;
}

/* ----- COMMON STYLES ----- */

* {
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 300;
  margin: 5px 0 15px;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

header,
ul,
.book,
.nav,
.add-book,
.choose-your-payment,
.user-info,
.user,
.footer-nav  {
  display: flex;
}

header,
.choose-your-payment,
.user-info {
  justify-content: space-between;
}

.add-book,
.footer-nav {
  justify-content: center;
}

header,
.nav,
.add-book,
.user-info,
.user,
.footer-nav {
  align-items: center;
}

.book-container,
.book,
.book-descr-cover,
header,
.book-descr,
#order-book,
.order-book-input {
  box-sizing: border-box;
}

/* ----- COMMON STYLES ----- */

/* ----- HEADER ----- */

header {
  height: 80px;
  padding: 15px 30px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 1000;
}

.nav li {
  margin: 0 15px;
}

.logo {
  font-weight: 800;
  font-size: 32px;

}

.nav li:nth-child(2) a {
  color: var(--orange);
  font-weight: 700;
}

.nav li:hover a {
  color: var(--orange);
}

.nav li:first-child {
  position: relative;
}

.nav li:first-child::after {
  content: "";
  height: 5px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  border-radius: 2px;
  background: linear-gradient(to right, rgba(239,196,67,1) 0%, rgba(239,196,67,1) 22%, rgba(228,119,35,1) 22%, rgba(228,119,35,1) 50%, rgba(43,188,176,1) 50%, rgba(43,188,176,1) 100%);
}

.logo>span {
  font-weight: 400;
}

.user-info:hover {
  color: var(--blue);
}

.user-info:hover .user-photo {
  box-sizing: border-box;
  border: 1px solid var(--blue);
  border-radius: 50%;
}

.user-info span {
  order: 2;
}

.fa-cart-shopping {
  margin-right: 20px;
}

.user-photo {
  width: 30px;
  order: 1;
  margin-right: 10px;
}

/* ----- HEADER ----- */

/* ----- MAIN ----- */

main {
  max-width: 1140px;
  margin: 100px auto 80px;
}

.book-price {
  color: var(--blue);
  font-weight: 800;
  margin-bottom: 10px;
}

ul.book-list {
  flex-wrap: wrap;
}

.book-container {
  width: 50%;
  padding: 15px;
  position: relative;
}

.book-descr-hidden {
  display: none;
}

.book-descr {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background: rgba(0,0,0,0.9);
  color: #fff;
  border-radius: var(--radius);
  padding: 60px 20px 20px;;
}

.close-book-descr {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: var(--radius);
  padding: 5px;
  cursor: pointer;
}

.close-book-descr:hover {
  background: #fff;
  color: #000;
  font-weight: 500;
}

.book {
  border: 1px solid var(--grey);
  border-radius: var(--radius);
}

.book-cover-img {
  object-fit: cover;
  width: 200px;
  height: 275px;
  border-radius: var(--radius);
  display: block;
}

.book-descr-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 15px 15px 25px;
}

.read-more-btn {
  cursor: pointer;
}

.read-more-btn:hover {
  color: var(--orange);
}

.add-book {
  height: 40px;
  width: 120px;
  background: var(--yellow);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.add-book:hover {
  background: var(--orange);
}

.add-book:active {
  background: var(--blue);
}

/* ----- FORM ----- */

#order-book {
  border: 1px solid var(--grey);
}

.order-book-input {
  border: none;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

#order-book {
  width: 80%;
  margin: 80px auto;
  border: 1px solid var(--grey);
  padding: 50px 15%;
  border-radius: var(--radius);
  background: var(--grey);
}

#name, #surname,.address {
  width: 100%;
}

.payment-type, .gifts {
  color: #525252;
  margin-bottom: 15px;
  width: 50%;
  padding: 0 20px 0 0;
  font-size: .8em;
}

.payment-type p, .gifts p {
  font-weight: 700;
  margin-bottom: 10px;
}

#order-submit {
  height: 40px;
  width: 120px;
  background: var(--yellow);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
  border: none;
}

#order-submit:hover {
  background: var(--orange);
}
#order-submit:active {
  background: var(--blue);
}

/* ----- MAIN ----- */

/* ----- FOOTER ----- */

.footer-nav {
  background: var(--text);
  height: 150px;
}

.footer-nav a {
  color: var(--grey);
}

.footer-nav a:hover {
  color: var(--blue);
}

.footer-nav li {
  margin: 0 15px;
}

.footer-nav li:nth-child(2) a {
  color: var(--blue);
  font-weight: 700;
}

.footer-nav li:first-child {
  position: relative;
}

.footer-nav .logo::after {
  content: "";
  height: 5px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  border-radius: 2px;
  background: var(--grey);
}

@media only screen and (max-width: 1000px) {
  .book-container {
    width: 100%;
  }
}
