@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200&display=swap');
:root {
  --grey: #efefef;
  --text: #2d3635;
  --blue: #2bbcb0;
  --yellow: #efc443;
  --orange: #e47723;
  --radius: 10px;
}

body {
  font-family: 'Nunito', sans-serif;
  background: var(--grey);
  padding: 0;
}

header {
  text-align: center;
}

.logo {
  color: var(--text);
  display: inline-block;
  font-weight: 800;
  font-size: 32px;
  position: relative;
  text-decoration: none;
  margin-top: 35px;
}

.logo:hover {
  color: var(--blue);
}

.logo::after {
  content: "";
  height: 5px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  border-radius: 2px;
  background: linear-gradient(to right, rgba(239,196,67,1) 0%, rgba(239,196,67,1) 22%, rgba(228,119,35,1) 22%, rgba(228,119,35,1) 50%, #2bbcb0 50%, #2bbcb0 100%);
}


.error {
  color: var(--orange);
  font-size: .8em;
  margin-top: -5px;
  margin-left: 5px;
  display: block;
}

#order-book,
.order-book-input,
.order-confirmation {
  box-sizing: border-box;
}

.choose-your-payment {
  display: flex;
}

.choose-your-payment{
  justify-content: space-between;
}

.hidden-book-number {
  display: none;
}

#order-book {
  border: 1px solid var(--grey);
  width: 100%;
  height: 100%;
}

.order-book-input {
  border: none;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
}

.input-error {
  border: 1px solid var(--orange);
}

#order-book {
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--grey);
  padding: 50px 15%;
  border-radius: var(--radius);
  background: var(--grey);
}

#name, #surname,.address {
  width: 100%;
}

.payment-type, .gifts {
  color: #525252;
  margin-bottom: 15px;
  width: 50%;
  padding: 0 20px 0 0;
  font-size: .8em;
}

.payment-type p, .gifts p {
  font-weight: 700;
  margin-bottom: 10px;
}

#order-submit {
  height: 40px;
  width: 120px;
  background: var(--yellow);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
  border: none;
}

#order-submit:disabled {
  background: var(--text);
}

#order-submit:hover {
  background: var(--orange);
}

#order-submit:disabled:hover {
  background: var(--text);
}

#order-submit:active {
  background: var(--blue);
}

.order-confirmation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: #fff;
  padding: 15% 10%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.mssg {
  font-size: 1.3em;
  text-align: center;
  line-height: 2;
}
